---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import BottonThemeToggle from '@components/ButtonThemeToggle';
---

<header class="sticky top-0 backdrop-blur-sm drop-shadow bg-slate-200/90 dark:bg-slate-900/80 z-10">
	<div class="container flex items-center h-16 w-full">
	<h4 class="m-0">
		{SITE_TITLE}
	</h4>
	<div class="flex-grow"></div>
	<nav class="flex items-center gap-4 mr-5">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<BottonThemeToggle client:only="react"/>
	</nav>
</div>
</header>
<style>

</style>
